
body {
    font-family:Figtree;
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 800px;
    margin: 0;
    font-size: 16px;
    
    
}

/* card section */
.card {
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    text-align: left;
    box-shadow: 20px 30px 0px rgba(0, 0, 1, 1);
    
}

.learning{
    background-color: hsl(47, 88%, 63%);
    width:70px;
    height: 30px;
    line-height: 200%;
    font-weight: bold;
}

h1{
    font-size:1.2rem;
    
}

h2{
    font-size:1em;
    font-weight:100;
}

h1:hover{
    color:red;
}


/* user section */
.user{
display:flex;
align-items: center;
}

.card-image {
    width: 100%;
    border-radius: 10px;
}



.user-image {
    width: 35px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

/*375px */
@media (max-width: 375px) {
    .card {
        width: 90%; /* Se adapta pero mantiene la proporción */
        padding: 15px;
        box-shadow: 10px 15px 0px rgba(0, 0, 1, 1);
    }
    h1 {
        font-size: 1rem;
    }
    h2 {
        font-size: 0.9rem;
    }
    .user-image {
        width: 30px;
        height: 30px;
    }
}


/* 1440px */
@media (min-width: 1440px) {
    .card {
        width: 350px;
        padding: 25px;
        box-shadow: 25px 35px 0px rgba(0, 0, 1, 1);
    }
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.1rem;
    }
    .user-image {
        width: 40px;
        height: 40px;
    }
}


/* landscape */
@media (max-width: 1000px) and (orientation: landscape) {
    body {
        transform: scale(0.60); /* Mantienes el escalado */
        display: flex;
        flex-direction: column; /* Cambiamos a columna para más control */
        justify-content: center;
        align-items: center;
        min-height: 10px;   
        margin: 0;
        
}
}